{% extends "layout.html" %} 
{% block container %}
{% import "_macros.html" as macros %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <p class="text-xs text-gray-400 uppercase mb-1">Modulo Cursos</p>
            <td class="px-6 py-4 text-center">
                
                    <a href="/insertarC" class="text-green-600 hover:underline">Agregar Curso</a>
                </td>
               
            <tr>
                
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Descripción
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Maestro
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Acciones
                </th>
                
            </tr>
        </thead>
        <tbody>
            
            {% for cur in curso %}
            <tr class="bg-neutral-primary border-b border-default">

                <td class="px-6 py-4">
                    {{ cur.nombre }}
                </td>
                <td class="px-6 py-4">
                    {{ cur.descripcion }}
                </td>
                <td class="px-6 py-4">
                    {{ cur.maestro_id }}
                </td>
                
                <td class="px-6 py-4 text-center">
                    <a href="/modificarC?id={{ cur.id }}" class="text-green-600 hover:underline">Editar</a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/detallesC?id={{ cur.id }}" class="text-green-600 hover:underline">Detalles</a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="{{url_for('inscripciones.ins_A',id= cur.id )}}" class="text-green-600 hover:underline">Inscribir alumnos</a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/eliminarC?id={{ cur.id }}" class="text-green-600 hover:underline">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        
    </table>
</div>

{% endblock %}