{% extends "layout.html" %} 
{% block container %}
{% import "_macros.html" as macros %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <p class="text-xs text-gray-400 uppercase mb-1">Modulo Maestros</p>
            <td class="px-6 py-4 text-center">
               
                    <a href="/insertarM" class="text-green-600 hover:underline">Agregar</a>
                </td>
            <tr>
              
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellidos
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Especialidad
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Acciones
                </th>
                
            </tr>
        </thead>
        <tbody>
            
            {% for m in mae %}
            <tr class="bg-neutral-primary border-b border-default">

                <td class="px-6 py-4">
                    {{ m.nombre }}
                </td>
                <td class="px-6 py-4">
                    {{ m.apellidos }}
                </td>
                <td class="px-6 py-4">
                    {{ m.especialidad }}
                </td>
                <td class="px-6 py-4">
                    {{ m.email }}
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/modificarM?matricula={{ m.matricula }}" class="text-green-600 hover:underline">Editar</a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="/detallesM?matricula={{ m.matricula }}" class="text-green-600 hover:underline">Ver</a>
                </td>
                
                <td class="px-6 py-4 text-center">
                    <a href="/eliminarM?matricula={{ m.matricula }}" class="text-green-600 hover:underline">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

        
    </table>
</div>
{% endblock %}